$colors: (
  lightBlue: #99A4C2,
  darkBlue: #2A3558,
  lightGray: #F5F6FA,
  lightRed: #FDE8EA,
  darkRed: #EE2032,
  black : #182033,
  gray : #7E7E7E,
);


@each $color, $value in $colors {
  .text-#{$color} {
     color: $value;
  }

  .bg-#{$color} {
     background-color: $value;
  }
}