$lightBlue: #99A4C2;
$darkBlue: #2A3558;
$text: #2F3B66;
$lightGray: #F5F6FA;
$lightRed: #FDE8EA;
$darkRed: #EE2032;
$black : #182033;
$gray : #7E7E7E;

:export {
  lightBlue: $lightBlue;
  darkBlue: $darkBlue;
  lightGray: $lightGray;
  lightRed: $lightRed;
  darkRed: $darkRed;
  text: $text;
  black: $black;
  gray: $gray;
}

.text-gray {
  color: $gray;
}

.bg-gray {
  background-color: $gray;
}

.bg-light-gray {
  background-color: $lightGray;
}

.text-blue {
  color: $darkBlue;
}

.bg-dark-blue {
  background-color: $darkBlue;
}

.bg-red {
  background-color: $lightRed;
}