@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'colors.module';

body {
  font-family: Avenir Next;
  color: $text;
  font-size: 14px;
  user-select: none;
}

.text-gray {
  color: $gray;
}

.bg-gray {
  background-color: $gray;
}

.bg-light-gray {
  background-color: $lightGray;
}

.text-blue {
  color: $darkBlue;
}

.bg-dark-blue {
  background-color: $darkBlue;
}

.bg-red {
  background-color: $lightRed;
}
